version: "3.8"
services:
  cmi:
    build: CMI/
    ports:
      - "8081:8080"
    volumes:
      - /home/sergei/test-volume:/data
    networks:
      cmi_net:
        ipv4_address: 172.16.238.10
    depends_on:
      - postgresqldb
      - sftpsrv

  postgresqldb:
    build: database/postgresql
    ports:
      - "5432:5432"
    networks:
      cmi_net:
        ipv4_address: 172.16.238.11

  sftpsrv:
    build: sftp
    ports:
      - "22:22"
    volumes:
      - /sftp/share:/home/foo/share
    networks:
      cmi_net:
        ipv4_address: 172.16.238.12
      
networks:
  cmi_net:
    ipam:
      driver: default
      config:
        - subnet: "172.16.238.0/24"
