<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <description>REST Web Services</description>
    <display-name>REST Web Services</display-name>

    <servlet>
        <servlet-name>com.cmi.RestApplication</servlet-name>
    </servlet>

    <servlet>
      <servlet-name>com.cmi.LoginApplication</servlet-name>
      <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
      <init-param>
        <param-name>javax.ws.rs.Application</param-name>
        <param-value>com.cmi.LoginApplication</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.cmi.RestApplication</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>com.cmi.LoginApplication</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>

    <!-- Listeners appeles dans l'ordre de declaration -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
